:root {
    --primary-color: #505033;
    /* #e23d64; #505033; */
    --secondary-color: #262469;
    --accent1-color: #cfcfb4;
    --accent2-color: #b4cde4;

    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
}

video {
    display: flex;
    width: 200px;
    height: 100px;
    justify-content: space-around;
    /*    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-area: right;
    width: 200;
    height: auto;  */
    /*    max-width: 240px; */
}

header,
main,
footer {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-around;

    background-color: steelblue;
    /* #1b68a8; */
    /* #007bff; */
    /* steelblue; */
    padding: 4%;
    margin: 20px;
    /* justify-content: space-evenly; */
    align-items: center;
}

header nav a {
    padding: 1em;
    color: var(--accent1-color);
    /*--secondary-color*/
    font-size: 1.2rem;
    font-weight: 700;
}

header nav a:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 2em;
    width: 100%;
    text-align: center;
    background-color: #ffffff73;
}

.hero article {
    position: absolute;
    top: 10em;
    left: 10%;
    right: 10%;
    padding: 1em;
    background-color: #ffffff73;
}

.hero article img {
    float: right;
    width: 200px;
    margin: 0 0 0 1em;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "heading heading heading"
        "left image right";
    gap: 20px;
    align-items: center;
}

.history h2 {
    grid-area: heading;
    justify-self: center;
}

.history img {
    grid-area: image;
    width: 100%;
    height: auto;
}

.history-p1 {
    grid-area: left;
}

.history-p2 {
    grid-area: right;
}

.adventure {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.adventure h2 {
    grid-column: 1/-1;
    justify-self: center;
}

.adventure figure {
    display: flex;
    flex-direction: column;
}

.adventure figure img {
    width: 100%;
    height: auto;

}

figcaption {
    margin-top: .8rem;
}

/* alignment of Имя and Емейл fields */
/* .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.form-item label {
    margin-right: 20px;
} */

.form-item input {
    flex-grow: 1;
}


/* end of alignment */

footer {
    background-color: #3e3e3e;
    color: #fefefe;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.sociallinks {
    background-color: unset;
}

.sociallinks img {
    width: 60px;
    margin-left: 10px;
}

.sociallinks {
    justify-self: end;
    display: flex;
    /*   align-content: flex-start;   */
    /*   flex-direction: row-reverse;  */
    justify-content: flex-end;
    align-items: center;
}

/* -----Home----- */
.cards {
    margin: 100px 0;
    /* grid-row: 3;
    display: flex;
    flex-direction: row; */
    /*  column; */
    /* align-items: center; */
    display: grid;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /* border-radius: 1.5rem; */
}

.cards img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 1.5rem;
}

.cards img:hover {
    /* width: 110%; */
    transform: scale(1.1);
}

.home-subtitle {
    position: absolute;
    /* margin: 20px 0; */
    color: var(--white);
    background-color: #13181475;
    justify-self: center;
    top: 18em;
    width: 100%;
    text-align: center;
    background-color: #ffffff73;
}

.row4 {
    grid-row: 4;
    grid-row-start: 4;
    grid-row-end: auto;
}

.button-box {
    background-color: var(--button-color);
    font-size: 1.5em;
    color: var(--white);
    border-radius: 20px;
    padding: 1rem 2rem;
    justify-self: center;
    align-self: center;
    min-width: 15rem;
    text-align: center;
    letter-spacing: 1px;
}

/*-----Home---- */

.adventure h2 {
    grid-column: 1/-1;
    justify-self: center;
}

.adventure figure {
    display: flex;
    flex-direction: column;
}

.adventure figure img {
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    transition: transform 0.3s ease-in-out;
}

.adventure figure img:hover {
    transform: scale(1.1);
}

figcaption {
    margin-top: .8rem;
    text-align: center;
}

/* ---------About Us Page------------- */
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

/* Style each fieldset to be a grid and provide a grid-gap and whatever else you deem necessary. */
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

/* Style the fieldset legend.
Example */
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

/* Option: Style all the form elements (label, input, button, select, and textarea) with a different font family and in whatever other way you see fit that is different than the headings and legends.
Example */
label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

/* Style the label elements to text-align right and have a padding-right value.
Example */
label {
    text-align: right;
    padding-right: 1rem;
}

/* Style the input, select, and textarea elements to have padding and a larger font-size. Note that this is critical in order to provide spacing inside of the form input elements.
Example */
input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

/* Style the checkbox element to be larger than the default size using width and height. Change the vertical-align to be at the bottom in order for it to fit in its space.
The best practice CSS selector in this case is input[type="checkbox"]
Example */
input[type="checkbox"],
input[type="radio"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

/* Style the button as you see fit along with the button:hover pseudo-class.
Example */
button {
    width: 300px;
    margin: 1rem auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

.team {
    display: flex;
    justify-content: space-around;

}

.team img {
    height: auto;
    width: 200px;
}

/* --------End of About Us---------- */
.sidebyside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.ourteam {
    display: flex;
    justify-self: center;

}

/*---------------Trips Page---------------*/
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1,
h2 {
    color: #333;
}

.trip-description {
    margin-bottom: 20px;
}

.trip-description img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    /* 1.5rem 1.5rem 0 0; */
}

.call-to-action {
    text-align: center;
    margin-bottom: 20px;
}

.call-to-action .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: navy;
    /*  #28a745; */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.call-to-action .btn:hover {
    background-color: #218838;
}

.trip-table {
    margin-top: 20px;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
}

.trip-table table th,
.trip-table table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.trip-table table th {
    background-color: #333;
    color: #fff;
}

/*---------------End of Trips Page---------------*/
/*
element.style {
}
.topline__indicators__move.animate {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-play-state: running;
    animation-name: move;
}
*/